@media screen and (min-width: 550px) {
  .rigth {
    top: 0.9rem;
    right: -9rem;
  }
}
.rigth {
  position: absolute;
  display: flex;
  align-items: center;
  right: 6rem;
  top: 1rem;
  font-size: 0.85rem;
}
