/* -------------Custom Properties-------------------- */
:root {
  --white-color: #fff;
  --black-color: #0d0d0d;
  --yellow-color: #f2d230;
  --dark-yellow-color: #f2c335;
  --violet-color: #a7abf2;
  --light-blue-color: #91f2e9;
  --grey--color: #d4dbe6;
  --dark-grey-color: #a3a3aa;
  --font: "Poppins", sans-serif;
}

/* --------------Reset-------------------------------- */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--black-color);
}
body {
  overflow-x: hidden;
  /* background-color: var(--black-color); */
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85rem;
}
h6 {
  font-size: 0.7rem;
}
a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: inherit;
  opacity: 1;
}

a:hover {
  opacity: 0.75;
}

img {
  width: 100%;
  height: auto;
}
p {
  line-height: 1.5;
}
/* --------------Components--------------------------- */

/* --------------Utilities---------------------------- */

.info__subtitle,
.info__welcome {
  color: var(--violet-color);
}

.nav {
  display: flex;
  position: fixed;
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: var(--black-color);
  color: var(--white-color);
  left: 0;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav__button {
  position: absolute;
  background-color: transparent;
  border: none;
  width: fit-content;
  right: 0.5rem;
  z-index: 999;
}
.nav__menu {
  position: absolute;
  top: 0;
  right: -250px;
  height: 100vh;
  font-size: 1.5rem;
  background-color: var(--black-color);
  padding: 2rem 2rem 2rem 1rem;
  animation: closeBar 1s ease-in-out;
}
.nav__menu--show {
  right: 0;
  animation: openBar 1s ease-in-out;
}
.menu {
  padding: 0;
}
.item__menu {
  list-style: none;
  margin: 1rem;
}
.rigth {
  position: absolute;
  display: flex;
  align-items: center;
  right: 4.2rem;
  top: 1rem;
  font-size: 0.85rem;
}
#en,
#es {
  margin: 0 0.25rem;
}
#check {
  position: relative;
  width: 2.2rem;
  top: -0.15rem;
}
#check::before {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 1.1rem;
  background-color: #333;
  border-radius: 1.1rem;
}
#check::after {
  content: "";
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--white-color);
  border-radius: 1.1rem;
  box-sizing: border-box;
  transition: left 5s ease-in-out;
}
#check:checked::after {
  left: 1.1rem;
}
#check:checked::before {
  background-color: var(--violet-color);
}
.home {
  background-image: url(../assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.home__info {
  padding-top: 10em;
  padding-left: 1.5rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
}

.info__button {
  margin-top: 8rem;
}
.button__contact {
  background-color: var(--violet-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.about,
.contact,
.portfolio,
.services {
  padding: 1rem;
  position: relative;
}
.title {
  display: inline;
  background-color: var(--yellow-color);
  padding: 0 0.45rem;
}
.about__info {
  margin-top: 1em;
}

.abilities__card {
  padding-left: 4rem;
  margin: 2rem 0;
  position: relative;
}
.card__title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--violet-color);
}
.card__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #a39f9f;
  padding: 0.25rem;
  object-fit: contain;
  position: absolute;
  left: -0.3rem;
  top: -1rem;
}
.card__info {
  margin-left: 1rem;
}

.portfolio__card__blogr,
.portfolio__card__portfolio,
.portfolio__card__crud {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  margin: 1rem;
  border-radius: 0.25rem;
}
.portfolio__card__blogr {
  background-image: url(../assets/blogr.png);
}
.portfolio__card__portfolio {
  background-image: url(../assets/portafolio.png);
}
.portfolio__card__crud {
  background-image: url(../assets/crudTask.png);
}

.card {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  height: 20rem;
  overflow: hidden;
  top: 0;
  left: 0;
}
.portfolio__card__crud::before,
.portfolio__card__blogr::before,
.portfolio__card__portfolio::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}
.card__title__portfolio {
  transform: translateY(15rem);
  margin-top: 1rem;
  transition: transform 1s;
  transition: transform 1s;
}
.card:hover > h4,
.card:hover > .card__body {
  transform: translateY(0);
  animation: moveTitle 1s ease-in-out;
  animation: createCard 1s ease-in-out;
}
.card__title__portfolio::before {
  display: block;
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0%;
  height: 0.2rem;
  background-color: var(--yellow-color);
  transition: width 1s;
}
.card:hover > .card__title__portfolio::before {
  width: 100%;
  animation: createLine 1s ease-in-out alternate;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.card__body {
  transform: translateY(22rem);
  transition: transform 1s;
}

.card__info--portfolio {
  margin: 1rem;
}
.card__tecno {
  display: flex;
  justify-content: center;
}

.card__tecno img {
  width: 2.5rem;
  margin: 0.4rem;
  margin-bottom: 1rem;
}

.card__button {
  padding: 0.25rem 1rem;
  background-color: var(--violet-color);
  border-radius: 0.5rem;
}

.message__title {
  color: var(--violet-color);
}
.message__description {
  padding: 1rem 0;
}
.form__message,
.form__contact,
.form__social {
  color: var(--black-color);
  padding: 2rem;
}
.form__message label {
  display: block;
  font-size: 0.85rem;
  color: var(--violet-color);
}
.message__input {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f4f5fc;
  border-radius: 1rem;
  margin: 0.25rem 0;
  width: 100%;
  color: var(--dark-grey-color);
  resize: none;
  outline: none;
}
.message__button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  background-color: var(--violet-color);
  color: var(--white-color);
  font-weight: 700;
  margin-top: 1rem;
  box-shadow: 0rem 0.25rem 1rem rgba(167, 171, 242, 1);
}
.form__social {
  text-align: center;
}
.form__social img {
  width: 2rem;
}
.socialMedia__img {
  margin-bottom: 1rem;
}
.form__contact {
  padding-bottom: 0;
}
.form__contact p {
  margin: 1rem 0;
}
.form__contact > p {
  display: flex;
  gap: 1rem;
}
.form__social {
  padding: 1rem 0;
}
.form__social a {
  margin: 0.25rem 0.5rem;
}

.footer {
  text-align: center;
  padding: 0 2rem;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 0.75rem;
}

@media screen and (min-width: 550px) {
  .nav,
  .home__info,
  .about,
  .services,
  .portfolio,
  .contact,
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .nav__button {
    display: none;
  }
  .nav__menu {
    display: block;
    position: relative;
    height: auto;
    padding: 0;
    margin-left: 2.5rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }
  .item__menu {
    margin: 0.25rem 1rem;
  }
  .rigth {
    top: 0.9rem;
    right: -15rem;
  }
  .info__title {
    font-size: 5rem;
  }
  .info__subtitle,
  .info__welcome {
    font-size: 2rem;
  }
  .button__contact {
    padding: 0.55rem 2.5rem;
    font-size: 1.5rem;
  }
  .about__info {
    padding: 0 7rem;
    text-align: center;
  }
  .container__portfolio,
  .container__abilities,
  .services,
  .contact,
  .portfolio,
  .home,
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .abilities__card {
    max-width: 20rem;
  }

  .container__contact {
    display: flex;
    width: 100%;
    padding: 0 5rem;
  }
  .form__contact {
    width: 70rem;
    padding-top: 0;
  }
  .form__social img {
    width: 3rem;
  }
  .footer {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .portfolio__card__blogr,
  .portfolio__card__crud,
  .portfolio__card__portfolio {
    max-width: 25%;
  }
}
/* --------------KeyFrames-------------------------- */
@keyframes openBar {
  from {
    opacity: 0;
    right: -250px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes closeBar {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: -250px;
  }
}

@keyframes createLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes createCard {
  0% {
    transform: translateY(15rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveTitle {
  0% {
    transform: translateY(15rem);
  }
  100% {
    transform: translateY(0);
  }
}
